body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.pagination {
  display: flex;
  align-content: center;
  justify-content: center;
}

.recipes-main {
  margin: 5% auto;
}

.drink-image {  
width: 100%;
padding: 1rem 0;
}

.discover-container {
  height: 80vh;
}

