body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.btn-large {
/*  margin: 0.5%; */
  height: 130px;
  background-color: #eeeeee;
  color: #000000;
}

.recipes-main {
  margin: 5% auto;
}

.drink-image {  
width: 100%;
}