@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

body {
  font-family: 'Josefin Slab', cursive;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(rgba(42, 43, 43, 0.77), rgba(105, 106, 106, 0.38));
}

.content {
  flex: 1;
}

.brand-logo {
  font-weight: bold;
  color: #FFD700 !important;
}

.recipes-collection {
  margin-top: 5%;
}

nav ul a:hover {
  color: #FFD700;
}

.page-footer {
  padding-top: 0px;
}

nav,
.page-footer {
  background-color: #24292e;
}

.footer-copyright,
.footer-github {
  text-align: center;
}

.input-field>label {
  color: #383838;
}

#home-heading,
.footer-margin {
  margin-bottom: 0;
}

#error-image {
  width: 100%;
}

.drink-image {
  width: 100%;
  border: 3px solid #ABABAB;
  border-radius: 50%;
  box-shadow: 0 0px 8px 2px black;
  background-color: #696969;
}

.bold-headers {
  font-weight: bold;
}

h5,
.existing {
  color: red;
}

h6 {
  color: #FFD700;
}

.link-image>h5 {
  text-align: center;
  color: black;
}

#new-ingredient {
  color: #000000;
}

#new-ingredient>a {
  color: #FFD700;
}

.fab-main>i {
  font-size: 2.5rem;
  color: #24292E;
}

.fab-child>i {
  color: #FFD700;
}

.fab-main {
  background-color: #FFD700;
  box-shadow: 0 0px 8px 2px #24292E;
}

.fab-main:hover {
  background-color: #FFD700;
  box-shadow: 0 0px 8px 2px #FFD700;
}

.fab-child {
  background-color: #24292E;
  box-shadow: 0 0px 8px 2px #24292E;
}

.fab-child:hover {
  background-color: #24292E;
  box-shadow: 0 0px 8px 2px #FFD700;
}

.link-image:hover>.drink-image {
  box-shadow: 0 0px 20px 7px #FFD700;
  color: #FFD700;
  transition-duration: .5s;
}

#discover-image {
  width: 75%;
  padding: 5px;
  border: 5px solid;
  background-color: #696969;
  border-radius: 25%;
  box-shadow: 0 0px 8px 2px black;
}

.dropdown-content,
.sidenav {
  background-color: #ececec;
}

.dropdown-content li>a,
.sidenav li>a {
  color: #000000;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, .4);
}

.delete-button {
  background-color: #f73038;
  color: #ffffff;
}

.delete-button:hover {
  background-color: #fb5157;
}

.delete-button:focus {
  background-color: #da262d;
}

.discover-container {
  height: 80vh;
  display: block;
}

.discover-drink {
  text-align: center;
  font-size: 1.5rem;
}

.ingredients-list>li {
  display: inline-block;
  font-size: 1.5rem
}

h2,
h3,
.collection-image {
  text-align: center;
}

.drink-home {
  font-size: 1.5rem;
}

.collection-image {
  font-size: 1rem;
}

.link-image {
  min-height: 150px !important;
}

.large-button {
  width: 50%;
  height: 50px;
  font-size: 1.7rem;
  line-height: 50px;
  margin: 0 0 20px 0;
}

.select-dropdown {
  max-height: 350px;
}

.drink-ingredients {
  max-height: 15rem;
  border: 1px solid #cccccc;
  border-radius: 16px;
  overflow-x: hidden;
  position: relative;
}

.drink-ingredients span,
.content label {
  color: black !important;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #5a5a5a;
}

.themed-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #24292e
}

.themed-button:hover {
  background-color: #FFD700;
  color: #000000;
  transition-duration: .5s;
}

.themed-button:focus {
  background-color: #bc9f00;
}

#delete-button:hover {
  background-color: #fb5157;
  color: #fff;
  transition-duration: .5s;
}

input.valid[type=text]:not(.browser-default),
input[type=text]:not(.browser-default):focus:not([readonly]),
input.valid[type=password]:not(.browser-default),
input[type=password]:not(.browser-default):focus:not([readonly]),
input.valid[type=email]:not(.browser-default),
input[type=email]:not(.browser-default):focus:not([readonly]),
input.valid[type=url]:not(.browser-default),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #FFD700;
  box-shadow: 0 1px 0 0 #FFD700;
}



input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #000
}

a {
  color: black;
}

footer a {
  color: #ffffff;
}

a:hover {
  color: #FFD700;
  font-weight: 900;
  transition-duration: .5s;
}

/*#instructions {
text-align: center;
font-size: 2.5rem;
margin-bottom: 5%;
}*/

.label-ingredients {
  font-size: 1rem;
}

.modal {
  border: 1px solid #9c9c9c;
  border-radius: 16px;
  background-color: #eaeaea;
}

.modal {
  box-shadow: 0 0;
}

#latest-drinks {
  margin-top: 10vh;
}

@media(min-width:768px) {
  .footer-copyright {
    text-align: left;
  }

  .footer-github {
    text-align: right;
  }

  .ingredients-item {
    min-height: 80px !important;
  }

  #error-image {
    width: 50%;
  }

  .user-modal {
    width: 50%;
    max-height: 100%;
  }

  .large-button {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0 0 40px 0;
    max-width: 280px;
  }

  .drink-image {
    width: 40%;
  }

  .drink-image {
    width: 40%;
  }

  .dropdown-content {
    top: 100% !important
  }

  #latest-drinks {
    padding-top: 5%;
    margin-top: 0;
  }

  .collection-image {
    font-size: 1.5rem;
  }

  .drink-home {
    font-size: 2.92rem;
  }

  .discover-container {
    display: flex;
  }

}

@media(min-width:992px) {
  .user-modal {
    width: 30%
  }
}

@media(min-width:1200px) {
  .user-modal {
    width: 20%
  }
}