{% extends 'base.html'%}

{% block content %}
<div class="row">
<h2>Add Ingredient</h2>
</div>
{% if exists == 1 %}
<div class="row center">
<h4>{{ ingredient.ingredientName }} already exists!</h4>
</div>
{% endif %}

<div class="row">
    <form class="col s12" action="{{ url_for('add_ingredient') }}" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="ingredientName" name="ingredientName" type="text" class="validate" required>
          <label for="ingredientName">Ingredient Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="url" id="ingredientImage" name="ingredientImage" type="text" class="validate" required>
          <label for="ingredientImage">Ingredient image link</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
      <button class="btn waves-effect waves-light" type="submit">Add
        <i class="material-icons right">send</i>
      </button>
      </div>
    </div>
    </form>
  </div>

{% endblock %}