<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Third Milestone project for Legaeldan 
                                      in the fullstack development course from Code Institute">
    <meta name="keywords" content="HTML5,CSS3, PyMongo, MongoDB, Atlas, BSON, GitHub, Git, Python, Flask">
    <meta name="author" content="Kieran Cunnane">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{headerTitle}} | Drink Splash</title>
</head>

<body>
{% include 'layout/nav.html' %}
    <div class="container content">
        {% block content %} {% endblock %}
    </div>
{% include 'layout/footer.html' %}

{% if 'username' not in session %}
{% include 'components/loginForm.html' %}
{% include 'components/registerForm.html' %}
{% else %}
{% include 'components/addDrinkForm.html' %}
{% endif %}
{% include 'components/fab.html' %}


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/drinkSplash.js"></script>
</body>

</html>