{% extends 'base.html'%}

{% block content %}

<div class="recipes-main">
     <div class="row">
        {% for drink in drinks|sort(attribute='drinkName') %}
        <a class="col s4 link-image" data-position="bottom" data-tooltip="{{ drink.drinkName }}" href="{{url_for('view_drink', drink_id=drink._id)}}">
            <img class="drink-image" src="{{drink.drinkImage}}" alt="{{drink.drinkName}}">
            <div class="collection-image">{{drink.drinkName}}</div>
        </a>
        {% if loop.last %}
    </div>
        {% elif loop.index % 3 == 0 %}
        </div>
        <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}