{% extends 'base.html'%}

{% block content %}


<div class="row discover-container">
    <div class="col s12 m6">
        <h2>Whiskey Sour</h2>
    <img class="discover-drink" src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
</div>
    <div class="col s12 m6 ingredients">
        <h2>Ingredients</h2>
        <ul class="discover-drink">
            <li>
                2 oz Blended Whiskey
            </li>
            <li>
                Juice 1/2 Lemon
            </li>
            <li>
                1/2 tsp Powdered Sugar
            </li>
            <li>
                1 Cherry
            </li>
            <li>
                1/2 Slice Lemon
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
<a class="waves-effect waves-light btn">EDIT DRINK</a>
</div>
</div>  


{% endblock %}