{% extends 'base.html'%}

{% block content %}

<h2>Add Ingredient</h2>
<h5>Add all ingredients to your drink</h5>

<form class="col s12" action="#" method="POST">


<div class="row">


{% for ingredient in ingredients %}


<div class="col s12 m2">
    <p>
    <label>
      <input type="checkbox" name="ingredientName" value="{{ ingredient.ingredientName }}"/>
      <span>{{ ingredient.ingredientName }}</span>
    </label>
    </p>
</div>


  {% endfor %}


</div>
<div class="row">
    <div class="col s12 center-align">
  <button class="btn waves-effect waves-light" type="submit">Add drink
    <i class="material-icons right">send</i>
  </button>
  </div>
</div>
</form>


{% endblock %}