{% extends 'base.html'%}

{% block content %}

<div class="recipes-main">
    <div class="row">
        {% for n in range(6) %}
            {% for drink in drinks %}
            <a class="col s12 m4" href="{{url_for('view_drink', drink_id=drink._id)}}">
                <img class="drink-image" src="{{drink.drinkImage}}" alt="{{drink.drinkName}}">
            </a>
        {% endfor %}
        {% endfor %}
    </div>
</div>

<div class="container">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

{% endblock %}