{% extends 'base.html'%}

{% block content %}

<div class="recipes-main">
    <div class="row">
        <a class="col s12 m4" href="#">
            <img class="drink-image"
                src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
        </a>
        <a class="col s12 m4" href="#">
            <img class="drink-image"
                src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
        </a>
        <a class="col s12 m4" href="#">
            <img class="drink-image"
                src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
        </a>
        <a class="col s12 m4" href="#">
            <img class="drink-image"
                src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
        </a>
        <a class="col s12 m4" href="#">
            <img class="drink-image"
                src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
        </a>
        <a class="col s12 m4" href="#">
            <img class="drink-image"
                src="https://www.dhresource.com/0x0/f2/albu/g10/M01/31/37/rBVaWV1MLZiAD3i6AALW24H0Png732.jpg" alt="">
        </a>
    </div>
</div>

<div class="container">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
</div>

{% endblock %}