{% extends 'base.html'%}

{% block content %}
<form action="{{ url_for('ingredients') }}" method="POST">
    <div class="input-field col s12">
        <select name="ingredientList">
            <option value="" disabled selected>Select Ingredient</option>
            {% for ingredient in ingredients|sort(attribute='ingredientName') %}
            <option value="{{ ingredient.ingredientName }}" data-icon="{{ ingredient.ingredientImage }}">
                {{ ingredient.ingredientName }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn waves-effect waves-light" type="submit">SEARCH
        <i class="material-icons right">send</i>
      </button>
</form>
<div class="row">
{% for drink in drinks|sort(attribute='drinkName') %}
{% if ingredient.ingredientList in drink.ingredientList %}
{% if request.method == 'POST' %}
<h2>Drinks containing {{ ingredient.ingredientList }}</h2>
{% endif %}
<a class="col s4 m2 tooltipped" data-position="bottom" data-tooltip="{{ drink.drinkName }}" href="{{url_for('view_drink', drink_id=drink._id)}}">
    <img class="drink-image" src="{{drink.drinkImage}}" alt="{{drink.drinkName}}">
</a>
{% endif %}
{% endfor %}
</div>

{% endblock %}