{% extends 'layout/base.html'%}

{% block content %}
<div class="row remove-valign">
    <div class="col s12 m4 offset-m4">
        <form id="login-form" method=POST action="{{ url_for('login') }}">
            <div class="row">
                <div class="col s12">
                    <h3 class="center">Login</h3>
                    {% if invalid %}
                    <h5 class="center">Invalid username/password</h5>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="username" type="text" class="validate" name="username" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="password" type="password" class="validate" name="password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="center-align">
                    <button class="large-button btn waves-effect waves-light themed-button" type="submit" name="action">Log In
                        <i class="material-icons">vpn_key</i>
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            <div id="sign-up" class="center-align">
                Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
            </div>
        </div>
    </div>
</div>

{% endblock %}