{% extends 'base.html'%}

{% block content %}

    <div class="row">

        <form  id="register-form" class="col s4 offset-s4" method=POST action="{{ url_for('register') }}">
            <h3 class="center">Register</h3>
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" required>
                <label for="username">Username</label>
              </div>
              <div class="input-field col s12">
                <input id="email" type="email" class="validate" required>
                <label for="email">E-Mail Address</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate" required>
                <label for="password">Password</label>
              </div>
              <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Register
                    <i class="material-icons vpn_key">send</i>
                 </button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}