{% block footer %}

<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row footer-margin">
                <div class="col s12 m6 footer-links">
                    © 2020 - Created by Legaeldan
                </div>
                <div class="col s12 m6 footer-github"><a href="https://github.com/Legaeldan/milestone-3">View on GitHub
                        <i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}