{% block nav %}

<nav>
    <div class="nav-wrapper">
        <a href="{{ url_for('home') }}" class="brand-logo center">Drink Splash</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger toggleNavbar"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down toggleNavbar">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('drink', drink_id='randomDrink')  }}">Random</a></li>
            {% if 'username' in session %}
            <li><a class="modal-trigger" href="#addDrinkModal">Add Drink</a></li>
            {% endif %}
            <li><a href="{{ url_for('ingredients') }}">Ingredients</a></li>
            <li><a href="{{ url_for('collection') }}">Collection</a></li>
            {% if 'username' in session %}
            <ul id="main-dropdown" class="dropdown-content">
                <li><a href="{{  url_for('collection', collectionType='my-drinks') }}">My Drinks</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            <li><a class="dropdown-trigger" href="#!" data-target="main-dropdown">{{ session['username'] }}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
            <li><a class="modal-trigger" href="#loginModal">Login</a></li>
            {% endif %}
            <li><a id="MainNavToggle"><i class="material-icons">sync</i></a></li>
        </ul>
    </div>
</nav>

{% endblock %}